{%extends 'base.html'%}
{% block content %}

<div class="row">
    <div class="col-sm-4">
        <h2 class="text-align-center alert alert-info">Add information of user</h2>
        <form action="" method="POST">
        {%csrf_token%}
        {{fobj.as_p}}
        <input type="submit" class="btn btn-success" value="Add">
        </form>
           
    </div>
    <div class="col-sm-8">
        <h2 class="text-center alert alert-info">Show data here</h2>
        {%if regs %}
        <table class="table table-hover">
            
            <thead>
                <tr>
                    <th class="col">Id</th>
                    <th class="col">Name</th>
                    <th class="col">Email</th>
                    <th class="col">Password</th>
                </tr>
            </thead>
            <tbody>
                {%for reg in regs%}
                <tr>
                    <th scope="row">{{reg.id}}</th>
                    <td>{{reg.name}}</td>
                    <td>{{reg.email}}</td>
                    <td>{{reg.password}}</td>
                    <td><a href="{% url 'updatedata' reg.id%}" class="btn btn-warning btn-sm">edit</a></td>
                    <td>
                        <form action="{% url 'deletedata' reg.id %}" method="post" class="d-line">{%csrf_token%}
                          <input type="submit" name="submit" class="btn btn-danger" value="delete"/>
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {% else %}
        <h3>no record available</h3>
        {% endif %}
    </div>
</div>
</form>

{%endblock content%}